[2019-04-12 11:58] MortenGregersen opened #2 "'Cannot read property 'options' of undefined' when calling `checkScreen`"
**Environment (please complete the following information):**
 - Node.js version: 10.15.3
 - NPM version: 6.9.0
 - Browser name and version: Chrome 73
 - Platform name and version: macOS 10.14
 - Framework name and version: WebdriverIO 5.7.2
 - Plugin name and version: _homemade_
 - webdriver-image-comparison version: 0.1.0

**Config of the automation framework + plugin**
[code]

**Describe the bug

[2019-04-13 09:17] wswebcreation commented on #2
Tnx for filling an issue

I'll check it when I get back

[2019-04-15 18:27] wswebcreation commented on #2
I found the issue, now need to know where and how to fix it. The problem is in the

[code]

The first time the `executor` is being called it fails.

[2019-04-20 07:44] wswebcreation commented on #2
Going to close this one because there is a module now specifically  for WebdriverIO

[2019-04-20 07:44] #2 closed

[2019-04-23 21:01] treyturner opened #4 "Option to hide elements"
Hey there, thanks for your work on this. I'm excited at the prospect of getting visual regression back into wdio v5.

Sometimes I want to capture an element while hiding other elements that may exist within or on top of it. The location and size of the elements I want to hide can change, so I'd like to approach it more programmatically.

The previous wdio-visual-regression service had a "hide" opt

[2019-04-23 21:10] treyturner opened #5 "formatImageName docs copy pasta"
**Pre-check**
- [x] I'm aware that I can [edit the docs](https://github.com/wswebcreation/webdriver-image-comparison) and submit a pull request

**Describe the improvement**

I'd like to report
- [ ] Unclear documentation
- [ ] A typo
- [ ] Missing documentation
- [x] Other

**Description of the improvement / report**
The `formatImageName` [docs](https://github.com/wswebcreation/webdriver-image-co

[2019-04-23 21:16] treyturner opened #6 "Browser platform and version variables for formatImageName"
Hi again; I'd like to save the browser platform and major version as part of the screenshot filename. Variables for these values which could be used in formatImageName would be perfect, but I'm open to other solutions as well. Thanks for your time!

[2019-04-24 02:18] wswebcreation commented on #4
Hi @treyturner

Thanks for this. You are also in the right place regarding your question. I flagged it as a feature and would be a good first PR 😉

[2019-04-24 02:23] #5 closed

[2019-04-24 02:24] wswebcreation commented on #5
Thanks for the issue, I just fixed the docs

[2019-04-24 02:25] wswebcreation commented on #6
Hi @treyturner

Thanks for your issue. This is a nice feature to add. Can you give some examples on how you would like to to be shown?

[2019-04-24 15:45] treyturner commented on #6
For browser platform, I'd be looking for whatever is in the driver capabilities, be that `WIN10`, `Windows`, `MAC`, etc.

For major browser version, I'd be looking for `v73` for Chrome or `v66` for Firefox (as examples(, but if I could only get the full version (`v66.0.2` for Firefox) that would work too.

[2019-04-25 11:04] amolinaalvarez opened #9 "blockOut option is not working correctly"
**Environment:**
 - Node.js version: 8.12.0
 - NPM version: 6.4.1
 - Browser name and version: Chrome 72.0.3626.96
 - Platform name and version: Ubuntu 16.04
 - Framework name and version: Protractor 5.4.2
 - Plugin name and version: protractor-image-comparison 3.0.1
 - webdriver-image-comparison version:0.3.0

**Config of the automation framework + plugin**
here a basic example of how my conf.js

[2019-04-25 11:27] wswebcreation commented on #9
Tnx for filling this bug. This is a bug from my side which I'm already fixing. I hope to release a new version tomorrow.

I'll keep you updated

[2019-04-26 20:48] wswebcreation commented on #9
Hi @amolinaalvarez

I just released a new version called `0.3.1`. Please remove your `node_modules` and your `package-lock.json` and try again. If it is fixed please close the issue

[2019-04-27 14:27] wswebcreation commented on #4
Hi @treyturner

I've implemented this now in the latest version of this module. I can hopefully release a new version of `wdio-image-comparison-service` in the comming days. Check https://github.com/wswebcreation/webdriver-image-comparison/pull/11 for the output on what it can do now

[2019-04-30 14:47] amolinaalvarez commented on #9
@wswebcreation, thank you so much for your prompt reply! Right now, It is able to detect changes using the blockOut option. However, I do not know If it has anything to do with this, but when I use the blockOut option it still detects it as a difference, and, in theory, it should omit this region.

![Selection_025](https://user-images.githubusercontent.com/1888502/56970481-804f6080-6b67-11e9-8da2-

[2019-04-30 18:31] wswebcreation commented on #9
Can you please provide an example so I can debug it?

[2019-05-01 07:17] wswebcreation commented on #4
@treyturner

I've just released a `1.0.0` release of `wdio-image-comparison-service`. CAn you please verify it and check if it is working for you, if so, can you please close this issue?

[2019-05-01 10:35] amolinaalvarez commented on #9
My web application has a small avatar and this is the region that I want to omit, actually the rest of the content is the same. So I run these two examples:

1) Without using blockOut option:
[code]
[code]
As you can see it detects the avatar has changed:
![image](https://user-images.githubusercontent.com/1888502/57013555-4e440a00-6c0c-11e9-97cc-74b59ba61c92.png)

2) Using blockOut option:
[code]

[2019-05-01 12:09] MortenGregersen commented on #4
It works with hideAfterFirstScroll 🎉

[2019-05-01 12:09] #4 closed

[2019-05-01 13:19] wswebcreation commented on #9
You were right, there was an issue, thanks for pointing it out. I fixed it now with version `0.4.5` and I'll try to explain it below why you will still get a diff issue when you test it with the new version.

**What I did:**
I took a screenshot of this issue of your avatar, which will look like this, this is the baseline

![image](https://user-images.githubusercontent.com/11979740/57018436-d84b9d0

[2019-05-01 20:54] treyturner opened #12 "Support Elements objects ($$) as members of hideElements and removeElements arrays"
It doesn't seem possible to pass Elements objects ($$) as members of the `hideElements` array. The following error is produced:

`javascript error: Cannot set property 'visibility' of undefined`

I ended up coming up with a workaround, but it might be more intuitive to allow this.

The ES6 workaround I discovered:
[code]

Thanks for your work on this by the way, it's immediately immensely useful a

[2019-05-01 21:18] wswebcreation commented on #12
Hi @treyturner

Thanks for this issue, I now only support single elements, no element arrays. I need to check that one. It's a bug and a feature 😉

[2019-05-06 09:57] amolinaalvarez commented on #9
@wswebcreation thanks again for your update. For me is really important to keep the element in the image, so I'm using the _hideScrollBars: false_ option, however there seems to be an issue using that option, let me show an example:

**_Baseline:_**
![Selection_033](https://user-images.githubusercontent.com/1888502/57218123-d0f60c00-6ff4-11e9-84c7-eba59d05de15.png)

[code]

**_Diff:_**
![Selection

[2019-05-06 10:33] wswebcreation commented on #9
@amolinaalvarez

Are you sure you are using the latest version of `webdriver-image-comparison`, please check your `node_modules/webdriver-image-comparison` and check the `package.json` and see which version you are using. As said, I've tested this with the above and it's now showing the diff as it should (you're still has the complete avatar as a purple diff)

[2019-05-06 13:10] amolinaalvarez commented on #9
yes, I'm using the version 0.4.5 and I came across this issue.

![Selection_035](https://user-images.githubusercontent.com/1888502/57227166-00b30d00-7011-11e9-9373-8cd9729ecb70.png)

[2019-05-06 14:22] camueller opened #13 "Remove console output "ignoredBoxes""
**Environment (please complete the following information):**
 - webdriver-image-comparison version: [e.g. 1.0.0]
0.4.5

Console log is flooded with "ignoredBoxes" created by lib/methods/images.ts line 135.
Please remove this console output:
console.log('ignoredBoxes = ', ignoredBoxes);

[2019-05-06 16:44] wswebcreation commented on #13
Tnx!

Removed it and released a new version `0.4.6`

[2019-05-06 16:44] #13 closed

[2019-05-06 18:11] wswebcreation commented on #9
@amolinaalvarez
Can you show an example project where I can check it? As said, I can't reproduce it, but it could be my problem

[2019-05-15 11:03] amolinaalvarez commented on #9
Sorry for the delay, I just wanted to double check this issue on my project. Would it be useful to share the image in its three estates: baseline, actual and diff? Thanks again!

[2019-05-15 15:24] wswebcreation commented on #9
Nope

It would be useful to have an example that shows the bug so I can verify and fix it. Based on my tests it works how it should be

[2019-05-16 14:52] JohnRobPeter opened #15 "Error: Unsupported image type"
Hi, is the element screen shot supported? I have this error each time I run the element comparison.
*Note: it works fine for checkScreen

 - Node.js version: v8.9.4
 - NPM version: 6.9.0
 - Browser name and version: Chrome 74.0.3729.131 (Official Build) (64-bit)
 - Platform name and version: Windows 10
 - Framework name and version: Protractor 5.3.1 (protractor-cucumber-framework)
 - Plugin name a

[2019-05-16 15:00] wswebcreation commented on #15
Hi @JohnRobPeter

Thanks for filing an issue, can you please provide your complete config with the capabilities. Then I can debug it for you

[2019-05-22 13:16] Sumit-Soman opened #17 "HTML report for viewing the baseline and actual image highlighting the difference"
Expecting a similar html report generated by jest-screenshot.
[jest-screenshot-report.zip](https://github.com/wswebcreation/webdriver-image-comparison/files/3207513/jest-screenshot-report.zip)

[2019-05-22 14:01] wswebcreation commented on #17
???????

What do you mean? To be honest, I close this issue because I can't do anything with this. Please use the provided templates and file an issue / ask something about the docs / ask for a feature / ask a question (better to do that on Gitter)

[2019-05-22 14:01] #17 closed

[2019-05-22 14:19] wswebcreation commented on #17
Hmm,

After looking into this I think I understand what you want. This is not something that will be supported by this module because it doesn't build a report based on images. Secondly the report and steps need to be different per used framework.
This module will only do the comparison for you and provide the paths to all the actual/baseline/diff images.

For next time, please follow the template

[2019-05-23 05:47] Sumit-Soman commented on #17
Sorry for this, it was something quick which i did.

[2019-05-23 05:59] wswebcreation commented on #17
No problem,

I was also my fault, I shouldn't have responded like this.

[2019-05-23 06:16] RubyGemTSL commented on #17
Hi @wswebcreation, you mentioned in your email that we should raise a feature request for this, so I asked Sumit to raise this. I think he assumed that you had more context which is why he didn't follow the template so I take responsibility for this :)

So a report to compare baseline and actual is not going to be possible?

[2019-05-23 06:21] wswebcreation commented on #17
Hi @RubyGemTSL

Yeah, because I didn't had the context in this issue I didn't realise it was for you, sorry for that.

To answer the question, no, this module will not have a report like this because it is not tied to a specific framework (this core module can be used for WebdriverIO, Protractor, and what ever framework wants to use it) and not a specific testrunner (like Jasmine, CucumberJS, Moch

[2019-06-07 14:42] naddison opened #19 "Plugin not working against native mobile android application"
**Environment (please complete the following information):**
 - Node.js version: 8.12
 - NPM version: 6.4.1

Capabilities
[code]

**Config of the automation framework + plugin**
This was in use in a WDIO test using the comparison plugin.

**Use case**
We call `saveFullPageScreen()`

[code]

which results in this error.

[code]

1. `saveFullPageScreen()` comes from https://github.com/wswebcreation/

[2019-06-07 15:06] wswebcreation commented on #19
Hi @naddison

This module is only for web, see also the readme

I also have a module for native apps, that's this module https://github.com/wswebcreation/wdio-native-app-compare

Keep in mind that you don't have the option to create a fullpage screenshot because a native app behaves differently.

Going to close it now because it's not an issue for this module

[2019-06-07 15:06] #19 closed

[2019-06-10 16:44] anto-ac opened #20 "checkElement only saves a screenshot with part of the element"
**Environment (please complete the following information):**
 - Node.js version: 8.11.4 (but also tries in 10.15.0)
 - Browser name and version: Firefox 67.0 and Chrome 75.0.3770.80 and previous versions
 - Platform name and version: Debian Jessie (but it's not OS dependent)
 - Framework name and version: wdio 5.10.0
 - Plugin name and version: wdio-image-comparison-service 1.1.0
 - webdriver-imag

[2019-06-11 01:04] wswebcreation commented on #20
@anto-ac

Tnx for filling the issue and providing the extra info. The problem what with you are trying to do is that you can only use `checkElement` with:
- elements that are in the view
- you should use this for small elements, it can't take an element screenshot of the element that you are providing

If you want to take a screenshot of the complete page please use something like this

[code]

I

[2019-06-11 05:35] anto-ac commented on #20
Thanks! I suspected it was the case. I know I can take a screenshot of the whole document, but I was hoping that I could ignore the header and footer without having to remove or hide them every single time.

Is this an explicit choice or is it a constraint? In other words, would it be possible to add the ability to take a screenshot of an element even if not fully in view? This used to be possible

[2019-06-11 14:13] #9 closed

[2019-06-11 14:16] amolinaalvarez commented on #9
Once again sorry for the delay, It was impossible to work on this until a few days ago, I just checked it out again and everything seems to work. Thanks again @wswebcreation!

[2019-06-11 20:30] anto-ac opened #21 "hideAfterFirstScroll leads to distorted full document screenshots"
**Environment (please complete the following information):**
 - Node.js version: 8.11.4 (but also tries in 10.15.0)
 - Browser name and version: Chrome 75.0.3770.80
 - Platform name and version: Debian Jessie
 - Framework name and version: wdio 5.10.0
 - Plugin name and version: wdio-image-comparison-service 1.1.0
 - webdriver-image-comparison version: 0.5.0

**Config of the automation framework +

[2019-06-12 01:41] wswebcreation commented on #21
@anto-ac

I've been checking this on my own machine (without docker, just a Mac with the latest version of Chrome) and on a Windows machine. The strange thing is that I'm able to get a correct screenshot on 2 different screen sizes. It doesn't matter if I remove or keep the cookiebanner.

Did you run this in headless mode?

**Chrome Mac without the cookiebar:**
![treatwell-chrome-1200x983](https:/

[2019-06-12 06:50] anto-ac commented on #21
@wswebcreation I've also tried running the test locally on Chrome on my Mac with `--window-size=519,800` and the screenshot looks fine.

However, it does not work as expected when running in docker as per the example in the repo I've created. The difference is that Chrome will be running in linux as a dockerised hub node.

[2019-06-12 07:27] anto-ac commented on #21
I've also run it on a local instance of Chrome on a Linux box and the issue happens. So it seems it may be linux specific, which is interesting.

[2019-06-13 11:31] wswebcreation commented on #21
@anto-ac

Hmm, problem is that I don't have a Linux machine to try to check it. It's working on Windows and on a Mac, is Linux a mandatory system for your customer to check if it looks good?

I need to dive into it, but the problem is that the usage of Linux in comparison to Windows / Mac is so low that it doesn't have a high priority for me currently (if I look at all the think I also need to do)

[2019-06-13 11:37] anto-ac commented on #21
While it’s true that usage on Linux is low, the point is that anyone who is using a dockerised grid will be running the tests in Linux. And this is a much higher number than actual Linux users.

[2019-06-13 11:56] wswebcreation commented on #21
You are right, but only for automation, and not for customer usage. And you need to be aware of the fact that for visual you need to verify the platform / browser combination that the user is using.

Same as you are doing image comparison on headless, what's the use of that, I've never seen a customer using a headless browser :wink:

So that's the reason why I put it to low priority

[2019-06-13 12:01] anto-ac commented on #21
While doing visual regression on browsers representative of users’ statistics may be preferable, I would say that in order to identify if you’ve made a breaking change to the markup or the CSS, which is indeed the main point of visual regression, it doesn’t really matter if Chrome (for example) is running on Linux or Mac. Don’t you think?
By the way, we’re not running the tests headless as the exa

[2019-06-13 12:01] wswebcreation commented on #21
There is a diff in font rendering,  handling native elements like the checkbox/selectbox and so on. They all differ per platform. Even the support for certain CSS properties differ.

I understand, but then, when comparing images and validate you don't have a regression for your end users you should be testing the combinations your customers are using, that's why I mentioned the headless as an exam

[2019-06-13 12:12] anto-ac commented on #21
I understand, but if I want to know if my CSS refactoring has introduced a regression issue, in the vast majority of cases I will find out whichever OS I’m running the browser in.

Any kind of testing involves proxying in behalf of a user, therefore all tests are imperfect in this sense.

My point is that, regardless of whether taking screenshot on a browser that is more representative of what a r

[2019-06-13 12:54] wswebcreation commented on #21
What do you mean with unable to use it, do all the commands fail on Linux? Or only the full page command?

[2019-06-13 12:56] anto-ac commented on #21
I mean that the inability of having reliable full page screenshots in Linux would be a dealbreaker (for my client and I imagine for other people too)

[2019-06-19 07:27] anto-ac commented on #21
Hi @wswebcreation!

Yesterday I installed ubuntu on virtualbox because I wanted to see the browser in action. I’ve made two videos of the full page screenshot being taken on both mac and linux, and I think I can see a difference in behaviour between the two, which might be what’s causing the problem with the final screenshot. Can you see it?

Linux
https://youtu.be/g46I15WJE50

Mac
https://youtu.b

[2019-06-19 07:52] wswebcreation commented on #21
Hi @anto-ac

thanks for the movies, if you mean the flickering, that is the scrollbar that I'm hiding between screenshots. I need to have it enabled when I scroll. I doesn't show on the mac because they handle scrollbars differently.

I also need to dive into this and debug it, but I can't find the time currently

[2019-06-19 08:01] anto-ac commented on #21
Ah yes, that's what I meant. In the Linux example though, after the scrollbar is hidden the document is resized to a larger width. So I wonder if that could be problem.

Also, the mac one seems to scroll a few pixels less for each page down.

By the way the value of `scrollHeight` [here](https://github.com/wswebcreation/webdriver-image-comparison/blob/master/lib/methods/screenshots.ts#L284) is dif

[2019-06-19 08:05] wswebcreation commented on #21
The recalculation is done after the scrollbar is hidden, so that should not be a problem, the scrolling is only done when the page get's smaller, that might be the problem.

Thanks for trying to debug this

[2019-06-24 08:34] amolinaalvarez opened #22 "checkFullPageScreen method is not calculate correctly the scroll height"
**Environment:**
 - Node.js version: 8.12.0
 - NPM version: 6.4.1
 - Browser name and version: Chrome 72.0.3626.96
 - Platform name and version: Ubuntu 16.04
 - Framework name and version: Protractor 5.4.2
 - Plugin name and version: protractor-image-comparison 3.2.0
 - webdriver-image-comparison version: 0.5.0

**Config of the automation framework + plugin**
here a basic example of how my conf.js

[2019-06-24 09:40] wswebcreation commented on #22
@amolinaalvarez

Thanks for filling the issue, it's related to this one

https://github.com/wswebcreation/webdriver-image-comparison/issues/21

Will come up with a fix asap

[2019-06-29 11:24] wswebcreation commented on #20
Hi @anto-ac

Sorry, I didn't see this comment.

Yes, you as a user need to be sure that you are scrolling the element in the view, I currently didn't implement the logic to automatically scroll to the element. That could be something for the future. You might have 1 challenge with that, what if the element is bigger then the view, how would you like to handle that?

[2019-06-29 11:32] anto-ac commented on #20
Bigger than the view in both width and height do you mean?

[2019-06-29 12:22] anto-ac commented on #21
I’d be happy to create a PR myself, but it sounded like you wanted to think about the thing more holistically. My current thinking is:

Would you be absolutely against honouring hideScrollBars when taking a full page screenshot?

Another option would be to to never hide scroll bars when taking screenshots depending on the platform.

[2019-06-30 06:47] wswebcreation commented on #20
@anto-ac
More in height

[2019-06-30 06:51] wswebcreation commented on #21
Hi @anto-ac
I've released version `1.2.0` of `wdio-image-comparison-service`, see the release notes [here](https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.2.0).

Can you please verify with that version if it is fixed and if so, please close the issue.

Thanks for your help on this

[2019-06-30 06:54] wswebcreation commented on #22
Hi @amolinaalvarez

Ive release version `3.3.0` for `protractor-image-comparison, see [here](https://github.com/wswebcreation/protractor-image-comparison/releases/tag/v3.3.0). Can you please try that one and see if it is fixed? If so, can you close this issue?

[2019-06-30 07:00] anto-ac commented on #20
Sorry, that is exactly the use case I have in mind: an element that is taller than the viewport.

This is how wdio-screenshot (at the moment not compatible with wdio v5) does it:
https://github.com/zinserjan/wdio-screenshot/blob/master/src/modules/makeElementScreenshot.js

[2019-07-01 07:18] amolinaalvarez commented on #22
Thanks for your prompt response, unfortunately I came across the same issue after updating the version.

[2019-07-01 07:58] wswebcreation commented on #22
@amolinaalvarez

Thanks for you quick response, can you check 2 things for me

1. What version of the `webdriver-image-comparison` is stored in your `package-lock.json` file?
2. Can you share you config of the plugin?

Tnx

[2019-07-01 08:16] anto-ac commented on #21
Thanks @wswebcreation. Just to confirm, now the current behaviour is that the scrollbars will be hidden only before starting taking the sequence of screenshots (and displayed again afterwords) for the full page if `hideScrollBars` is true, but it will **not** be hidden and re-displayed in between screenshots.

Could you confirm please?

[2019-07-01 11:19] wswebcreation commented on #21
@anto-ac

Yes, you're right

[2019-07-01 12:05] wswebcreation commented on #20
Labeled it as a feature, it currently doesn't have this and I must say you're the first who wants to use it. The core has been extracted from my previous module that is already out there for 3 years or something and I never had this question.

[2019-07-02 20:07] anto-ac commented on #21
It looks good! Thank you very much for this!

[2019-07-02 20:07] #21 closed

[2019-07-02 20:17] wswebcreation commented on #21
Awesome, tnx for the feedback

[2019-07-03 14:40] tuan91 opened #25 "postponed image saved in workspace (mobile)"
WebdriverIO version: 5.7.15
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: sync
Node.js version: 10.15.1
NPM version: 6.4.1
Platform name and version: Browserstack
{
"os_version": "9.0",
"device": "Google Pixel 3",
"real_mobile": "true",
"browserstack.appium_version": "1.12.1"
}
Additional wdio packages used (if applicable): "@wdio/browserstack-service": "^5.7.13", "wdio-image-compa

[2019-07-04 07:19] amolinaalvarez commented on #22
1.
[code]

2.
[code]

I hope it could be helpful!

[2019-07-04 16:34] wswebcreation commented on #22
Hmm, let me check, I'll get back to it

[2019-07-07 06:32] wswebcreation commented on #25
See https://github.com/wswebcreation/wdio-image-comparison-service/issues/2

[2019-07-24 06:28] xrecoba opened #26 "Option to keep checking image differences until it stabilizes"
**Is your feature request related to a problem? Please describe.**
I'm working on a web page with big slow images. The comparison tool sometimes returns me false negatives because the image has not been completely loaded whenever the comparison is made.

**Describe the solution you'd like**
I can think of two possible solutions:
1. Webdriver-image-comparison waits for the image to be completely lo

[2019-07-24 06:31] xrecoba commented on #26
@wswebcreation, if this is feature makes sense and fits in the project, I wouldn't mind trying to implement it. Please let me know your thoughts.
Thanks!

[2019-07-26 08:14] iamkenos opened #27 "Expose browser version as a variable for formatImageName"
**Is your feature request related to a problem? Please describe.**
Image rendering can vary between browser versions. It would be nice to have a direct way of including the browser version in the image name similar to the wdio4 vr service.

**Describe the solution you'd like**
To expose a `{browserVersion}` var that can be picked up by `formatImageName` option

**Describe alternatives you've consi

[2019-07-26 08:44] wswebcreation commented on #27
Hi @iamkenos

Thanks for the feature request. I'll add that one into this module, but I need to check . how I can provide that in a good way for and the https://github.com/wswebcreation/wdio-image-comparison-service and the https://github.com/wswebcreation/protractor-image-comparison modules, because they both use this core.

[2019-07-26 12:15] iamkenos commented on #27
I just realized there's already a feature request for this.
https://github.com/wswebcreation/webdriver-image-comparison/issues/6

I guess you can mark this one as dupe

[2019-07-26 12:18] #27 closed

[2019-07-26 19:56] wswebcreation commented on #6
@treyturner

I've release a new version of this module , `0.7.0` and a new version of `dio-image-comparison-service` (https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.4.0), can you please verify it and if it is as you expect close the issue?

[2019-07-26 19:56] wswebcreation commented on #6
@iamkenos

See the above 😉

[2019-07-27 01:41] iamkenos commented on #6
I'm getting `not-known` on `{browserVersion}`, running on Chrome 75.
idk why but `browser.capabilities.version` doesnt work on Chrome 75. `browser.capabilities.browserVersion` works though.

[2019-07-27 05:28] wswebcreation commented on #6
@iamkenos ,

🤔 , when I run it on my local machine it works, which version of WebdriverIO are you using (version in and you package and package-lock)

[2019-07-27 06:16] iamkenos commented on #6
package.json:
[code]

package-lock:
[code]

selenium (standalone):
[code]

[2019-07-27 06:43] wswebcreation commented on #6
Hmm, can you create a sample project so I can debug it?

[2019-07-29 16:58] idem7x opened #30 "'saveScreen' method does not work on pages with '*/xml' content type"
**Environment (please complete the following information):**
 - Node.js version: [10.16.0]
 - NPM version: [6.9.0]
 - Browser name and version: [Firefox, IE, Edge]
 - Platform name and version: [Windows 10, Mac OS X]
 - Framework name and version: [@wdio/jasmine-framework 5.11.0 ]
 - Plugin name and version: [wdio-image-comparison-service 1.3.0]
 - webdriver-image-comparison version: [0.6.0]

**Co

[2019-07-29 19:00] wswebcreation commented on #30
Hi @idem7x

Thanks for filling an issue, can you provide some more info, or an example project so I can verify what's wrong?
Secondly, are you executing this on a local machine or on a cloudservice? If so, can you provide you complete config and as said maybe an example repo. That would really help me debug this

[2019-07-29 19:05] wswebcreation commented on #26
Hi @xrecoba

Sorry for my late response. I like the idea, but I don't think it should be the responsibility of this module.

This means that in your case you need to be sure that the page is ready, before you hand it over to the image compare library. There are some ways to check if images are done loading, maybe Google might help you with that.

For now I'm going to close this feature request, bu

[2019-07-29 19:05] #26 closed

[2019-07-30 11:53] idem7x commented on #30
Hi @wswebcreation

I added project here - https://github.com/idem7x/wdioxmltest.
It reproduces both on local machine and Saucelabs.

[2019-07-30 14:56] wswebcreation commented on #30
Thanks for this, I'll dive into it hopefully before my vacation.

[2019-07-31 13:02] xrecoba commented on #26
Hi @wswebcreation,
Thanks for pointing me in what seems to be the right direction :).
Google + SO gave me a possible [solution](https://stackoverflow.com/questions/37543696/protractor-wait-for-image-to-load-on-canvas) to my problem, I wil try it whenever I have time. If it works I will just create a helper method so everytime we call checkScreen we also ensure that the image has been completely lo

[2019-08-07 04:32] davelee-scmp opened #31 "not able to make the page scroll with saveFullPageScreen()"
**Environment:**
 - Node.js version: 11.9.0
 - NPM version: 6.5.0
 - Browser name and version: Chrome 75
 - Platform name and version: Windows 10
 - webdriver-image-comparison version: 1.5.0

**Describe the bug**
not able to make the page scroll with saveFullPageScreen() on the following page:
https://www.cpjobs.com/hk/article/hong-kong-international-school-teacher-recruitment-fair

[2019-08-07 07:22] wswebcreation commented on #31
Thanks for filling an issue, I will dive into this but I'm currently on a holiday, so I don't have time to fix it fast.

It's related to this piece of code I need to refactor https://github.com/wswebcreation/webdriver-image-comparison/blob/master/lib/clientSideScripts/scrollToPosition.ts

[2019-08-12 21:15] Wexx commented on #12
I'm running into a similar issue. I get the

error when I'm running saveFullPageScreen and checkFullPageScreen. Assigning this array to hideElements when I'm calling these.

[code]

and a stack trace:
[code]

[2019-08-16 08:46] Viacheslav-Romanov commented on #20
IMO the framework should provide the options to capture entire screenshot of the element even it's hidden behind the viewport or throw an error with clear error message that element doesn't fit into the viewport (with suggestions like extend vieport, etc.).

[2019-08-20 18:23] wswebcreation commented on #31
@davelee-scmp

I've release a new version, https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.5.1, can you please check if it works for you?

[2019-08-20 18:24] wswebcreation commented on #30
@idem7x

I've release a new version, https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.5.1, can you please check if it works for you and close if fixed?

[2019-08-21 11:10] maxzaselian-okta commented on #30
@wswebcreation ,
Thanks for fix!
For Firefox and Edge it works like a charm, but for IE I got another issue...
But this could be related to Jasmine.
`1) XML tests XML is correctly displayed for content type
[internet explorer 11 WINDOWS #0-0] RangeError [ERR_BUFFER_OUT_OF_BOUNDS]: Attempt to write outside buffer bounds
[internet explorer 11 WINDOWS #0-0]     at <Jasmine>
[internet explorer 11 WIND

[2019-08-21 11:13] idem7x commented on #30
@wswebcreation ,
Thanks for fix!
For Firefox and Edge it works like a charm, but for IE I got another issue...
But this could be related to Jasmine.

[2019-08-21 11:38] wswebcreation commented on #30
@idem7x

Hmm, strange, I checked this on my Sauce Labs open source account and it works, here's the instance

https://app.eu-central-1.saucelabs.com/tests/7737d466f1384182af2f93a8498ec585#8

The test is flagged as failed due to the fact that I didn't had a baseline image, but here it works.

I'm going to close it now, it's still open for discussion

[2019-08-21 11:38] #30 closed

[2019-08-24 15:25] wswebcreation commented on #31
Going to close it now, it works as expected

![fullPage-chrome-1200x1373-dpr-1](https://user-images.githubusercontent.com/11979740/63639501-1f0e4880-c694-11e9-8566-c3a0aafda75b.png)

[2019-08-24 15:25] #31 closed

[2019-08-25 14:07] wswebcreation commented on #12
@treyturner and @Wexx

I created a PR for this but my TypeScript skills are not at a ninja level. Hopefully you can take a take a look at it, see https://github.com/wswebcreation/webdriver-image-comparison/pull/34

[2019-08-27 03:16] davelee-scmp commented on #31
@wswebcreation Yes it is working, thanks a lot!

[2019-08-29 05:20] #15 closed

[2019-10-03 09:27] #12 closed

[2019-10-03 09:49] wswebcreation commented on #12
I've released a new version called https://github.com/wswebcreation/webdriver-image-comparison/releases/tag/v0.9.0

[2019-10-04 11:26] iamkenos commented on #12
Hey Wim! Thanks for your hard work on this!! Is my understanding correct that the wdio image compare service has to be updated and a new version of that to be released for wdio users to benefit from this release?

[2019-10-04 16:33] wswebcreation commented on #12
Hi @iamkenos

Yes, I've released a new version, see https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.6.0

[2019-10-06 16:10] ds1971 opened #37 "tslint doesn't work"
In order to use tslint, I had to manually copy packages `vrsource-tslint-rules` and `tslint-eslint-rules` to `/node_modules/webdriver-image-comparison/node_modules`.
Otherwise, I got an error:

[code]
Also, I had to manually install vrsource-tslint-rules and  tslint-eslint-rules.

[2019-10-10 12:20] tomyam1 opened #38 "Sourcemaps require lib files"
The sourcemaps of `webdriver-image-comparison` link to the source file, e.g.  `build/index.js.map` is
[code]

Since the lib files are not included in the NPM package this makes debugging of webdriver-image-comparison difficult.

[2019-10-11 09:59] tomyam1 commented on #22
I have a similar issue with a modal dialog.

I think the underlying issue is that the scrolling and the calculations are done on the `body` but they should be done on the the scrolling container.

For instance, when using bootstrap, e.g. https://run.plnkr.co/hoa6HCg7e45hehEN/,
it should be done on the `.modal` div.

Maybe a good solution would to make the scrolling element configurable, e.g. by pr

[2019-10-13 15:51] wswebcreation commented on #22
Hi @tomyam1

It's always hard for a module to detect how the page works and what element should be the element that should be scrolled. Each page is different. What would your proposal be?

[2019-10-13 16:02] #38 closed

[2019-10-15 08:44] tomyam1 commented on #22
I think a good initial solution would be to let the user define the scrolling element using a `scrollingElement: string` optional parameter.

If given, it will be used instead of `document.scrollingElement`.

This won't be a solution of for all the possible use cases, but it does solve the modal dialog case at hand which is very common.

(I'm afraid I cannot afford the time to work on a PR for thi

[2019-10-16 17:49] nagadinesh-git opened #41 "Offset in IE11 for checkElement"
**Environment (please complete the following information):**
 - Node.js version: [e.g. 8.9.1] 8.11.3
 - NPM version: [e.g. 5.8.0] 5.6.0
 - Browser name and version: [e.g. Chrome 68] IE11
 - Platform name and version: [e.g. Windows 10] Windows 8.1
 - Framework name and version: [e.g. Protractor 5.1.0] Protractor
 - Plugin name and version: [e.g. protractor-image-comparison 3.0.0] protractor-image-c

[2019-10-19 07:41] #25 closed

[2019-10-21 15:56] robotiq-ncarrier opened #42 "Undefined object exception when evaluating versionOffsets.ADDRESS_BAR with iOS13 Safari"
**Environment (please complete the following information):**
 - Node.js version: v12.3.1
 - NPM version: 6.9.0
 - Browser name and version: Safari 13.1
 - Platform name and version: iPhone 11 XCodeSimulator
 - Framework name and version: wdio
 - Plugin name and version: wdio-image-comparison-service 1.6.0
 - webdriver-image-comparison version: 0.9.1

**Config of the automation framework + plugin**

[2019-10-22 16:48] wswebcreation commented on #42
@robotiq-ncarrier

Thanks for filing this issue, it was my bad that I didn't update the module. I've create a PR https://github.com/wswebcreation/webdriver-image-comparison/pull/43 but have some issues with iPhone 11 Pro and Max which I need to solve

[2019-10-23 11:53] #42 closed

[2019-10-23 12:12] wswebcreation opened #44 "iPhone 11 Pro and Max innerHeight is not correct"
Version `0.10.0` now supports iOS 13, but there is a strange issue with the iPhone 11 Pro and Max. The `innerHeight` that is given back is 5 pixels smaller than is should be making the toolbar blockout not correct. It should be `640`, but is is giving back `635`.

I still need to figure out how to fix this, see the image below

![image](https://user-images.githubusercontent.com/11979740/67391503-1

[2019-10-23 12:13] wswebcreation commented on #42
Hi @robotiq-ncarrier

I've released version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.7.0

There is still an issue with the toolbar blockout, but only on the iPhone 11 Pro and Max, see also https://github.com/wswebcreation/webdriver-image-comparison/issues/44

Can you please test if it is working for you?

[2019-10-23 16:28] nickcarrier commented on #42
Hi @wswebcreation ,

Thank you for your quick support.

I've checked with your latest version and the exception doesn't occur anymore, of course. But I'm still having issue with offset in my screenshots similar to what you have in #44.

I'm testing on XCode Simulator with iOS 13.1 without Appium. When I do a `browser.checkElement()` command, my screenshots are offsetted whichever device I use. Whe

[2019-10-23 17:10] wswebcreation commented on #42
Hi @nickcarrier,

Can you please files new issue with all info and the screenshots?

Tnx

[2019-10-24 12:43] WarleyGabriel opened #46 "Is it possible to remove warning message on console?"
Hi,

I would like to know if it is possible to not have the console log:
[code]

 - Node.js version: v10.15.3
 - NPM version: 6.4.1
 - Browser name and version: Chrome 77.0.3865.75
 - Platform name and version: Linux
 - Framework name and version: WebdriverIO 5.13.2
 - Plugin name and version: wdio-image-comparison-service 1.6.0
 - webdriver-image-comparison version: 1.6.0

I created a method to v

[2019-10-27 17:21] wswebcreation commented on #46
Hi @WarleyGabriel

Thanks for submitting an issue. Just to give you some insights:

- The log is created by [webdriver-image-comparison](https://github.com/wswebcreation/webdriver-image-comparison/)
- For now this can't be disabled (want to create a PR for it 😉 )
- The log is there to notify users what is happening and what the module is doing.

I'd like to ask you to submit the issue [here](https

[2019-10-27 17:29] wswebcreation commented on #41
@nagadinesh-git

My time is limited at the moment and to get the priority of this issue, can you please tell me the severity of the .problem and also some examples? To give you an example, I get there kind of screenshots that give me the complete button https://github.com/wswebcreation/wdio-image-comparison-service/tree/master/tests/sauceLabsBaseline/desktop_internet_explorer

[2019-10-27 17:57] wswebcreation opened #47 "Android 10 is not supported"
Android 10 is not supported and this makes the module break if `checkElement||checkFullPageScreen` screenshots are taken. This can be fixed by adding a new property to the https://github.com/wswebcreation/webdriver-image-comparison/blob/master/lib/helpers/constants.ts#L29 Android offsets

[2019-10-28 12:13] WarleyGabriel commented on #46
Hi @wswebcreation

Thanks for answered.

What do you think about save the log in file, with the wdio logs?
Maybe we can use the `outputDir` from wdio.

Or, print the logs only when `debug` param is true?

[2019-10-29 11:25] wswebcreation commented on #6
Going to close this one due to inactivity

[2019-10-29 11:25] #6 closed

[2019-10-31 07:55] #47 closed

[2019-10-31 08:31] wswebcreation commented on #46
Thanks for the PR, I've release https://github.com/wswebcreation/webdriver-image-comparison/releases/tag/v0.11.0 and will release a new version of `wdio-image-comparison-service` in a few minutes

[2019-10-31 08:31] #46 closed

[2019-10-31 12:27] WarleyGabriel commented on #46
@wswebcreation Thank you! 👍

[2019-11-26 15:39] LukeLeber opened #51 "How to test multiple viewports?"
I think that a suggested / recommended strategy for testing multiple viewports should be documented.

For example, are individual tests required to explicitly set the viewport dimensions prior to capturing a screenshot, or is there a more global option available that can assist in setting up global viewport dimensions?

Great job on this by the way!

[2019-12-02 09:52] wswebcreation commented on #51
Hi @LukeLeber

Thanks for filing an issue and asking for some more explanation. What this specific module does (and also the modules that use this comparison core) is take a screenshot of the current state of the screen/device. This means that if you want to take screenshots of different viewports, you need to adjust this **before** a screenshot is taken, meaning not by this module.

I also don't

[2019-12-03 13:51] LukeLeber commented on #51
Hi, I originally found this project via a blog post (https://webdriver.io/blog/2019/05/18/visual-regression-for-v5.html).  I'm thinking that any recommendations might make more sense to add to https://github.com/wswebcreation/wdio-image-comparison-service instead of this repository.

Perhaps the documentation for this repository could include a short blurb explaining the scope of what the core fun

[2019-12-04 23:46] nathasm opened #52 "Use case for hideElements"
I have a page that contains the following snippet:

    <div id="infoGraphics">....</div>

Using chrome devtools:

    document.querySelectorAll('div#infoGraphics').length
    -> 1

In writing my test I have a getter in my page object like:

    get infoGraphic() { return $('div#infoGraphics'); }

And my test:

    browser.saveScreen('LoginPage', { hideElements: [ LoginPage.infoGraphic ] });

Whic

[2019-12-08 08:42] wswebcreation commented on #52
Hi @nathasm

That is strange, I'll take a look, but it should work. Let me get back to this

[2019-12-08 08:42] wswebcreation commented on #51
OK, thanks. I'll add that on my todo list

[2019-12-08 08:43] wswebcreation commented on #41
Closing this issue due to inactivity

[2019-12-08 08:43] #41 closed

[2019-12-08 08:44] wswebcreation commented on #37
Hi @ds1971

Sorry for my late response. I need to look into this and fix it, or maybe if you have time for it you might be able to create a PR

[2020-02-18 07:14] vinnityom opened #53 "Error when trying to draw boxes for ignored elements"
**Environment (please complete the following information):**
 - Node.js version: 13.2.0
 - NPM version: 6.13.1
 - Browser name and version: Chrome 74
 - Platform name and version: Android 9, 10
 - Framework name and version: WebdriverIO 5.16
 - Plugin name and version: wdio-image-comparison-service 1.9.0
 - webdriver-image-comparison version: 0.12.0

**Config of the automation framework + plugin**

[2020-02-18 20:26] wswebcreation commented on #53
@vinnityom

I've been running the test with the app I've build for Sauce Labs which has an Hybrid screen. Here you can see the diff which doesn't fail. There you also see that the address bar is added. I can make an option in the core module that if it is an hybrid app that it should set the address bar from the constants to 0, but that doesn't fix your issue

![android-393x786](https://user-image

[2020-02-18 21:37] wswebcreation commented on #53
@vinnityom

I think it might be solved with the above mentioned PR

[2020-02-19 06:03] vinnityom commented on #53
Yes, it does help. Great news!  How long do you think it would be before this pr is merged?

[2020-02-19 08:39] vinnityom commented on #53
Great! It works as expected after #54 , thanks.
Closing the issue.

[2020-02-19 08:39] #53 closed

[2020-02-26 13:55] wswebcreation commented on #52
Issue is in here https://github.com/wswebcreation/webdriver-image-comparison/blob/60e91fb1a286e20a641a37c0d642d53cd8ecaa2e/lib/clientSideScripts/hideRemoveElements.ts#L5

[2020-03-01 17:19] wswebcreation commented on #52
@nathasm

I've release https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.12.1, can you please check again?

[2020-03-07 16:58] wswebcreation commented on #52
@nathasm

Did you already had time to check it again? I think it might be fixed now.

[2020-03-10 19:31] Christopher-Hayes commented on #52
I'm having the same issue with multiple classes `$('.classA.classB')`. I'm gonna try upgrading to `v1.12.1` (`v1.9.0` right now) and report back if that issue is fixed.

Somewhat related, could we make this fail gracefully by still taking the screenshot? I have elements that only exist on certain pages and the library not finding one of the remove elements causes the screenshot to never be taken.

[2020-03-11 07:59] wswebcreation commented on #52
@Christopher-Hayes

Good suggestion, please make a separate ticket for it

[2020-03-11 14:10] Christopher-Hayes opened #57 "Feature Request: Screenshot fail gracefully when removeElements non-existing"
**Is your feature request related to a problem? Please describe.**
I have elements that only exist on certain pages and the library not finding one of the remove elements causes the screenshot to never be taken. For me, it isn't critical that every element in `removeElements` is removed. I just want the elements that do exist to be removed and non-existing ones to be ignored because some can be in

[2020-03-21 09:41] #51 closed

[2020-03-21 09:41] #37 closed

[2020-04-12 10:01] ryuran opened #60 "Support big screenshot"
**Environment (please complete the following information):**
 - webdriver-image-comparison version: 0.13.2

**Describe the bug**
Web driver Image fail on big images.

Given error :
[code]
https://github.com/Automattic/node-canvas/issues/1374

**To Reproduce**
Try with an image ~40000px long.

**Expected behavior**
webdriver-image-comparison should be able to manage big images (useful for full page

[2020-04-12 17:42] wswebcreation commented on #60
Thanks for this issue, I'll take a look at it when I have some more time

[2020-04-13 00:19] L0stSoul commented on #20
When upgrading from WDIOv4 + zinserjan/wdio-screenshot we also encounter problems with that.
So adding that feature would be helpful :)

[2020-04-14 01:32] aabdullin opened #61 "Invalid Chai property: toEqual. Did you mean "equal"?"
**Environment (please complete the following information):**
- Node.js version: v13.12.0
- NPM version: 6.14.4
- Browser name and version: Chrome 80.0.3987.149
- Platform name and version: MacOS Mojave 10.14.6
 - Framework name and version: [e.g. Protractor 5.1.0]
- WebdriverIO version: [e.g. 5.1.0]
- Plugin name and version: wdio-image-comparison-service version: "^1.12.2"
"webdriver-image-compar

[2020-04-14 05:57] wswebcreation commented on #61
@aabdullin

First of all you don't need to write your tests like this

[code]

The `browser.saveFullPageScreen('_EnvScreen', {  });` is not needed if you use the `browser.checkFullPageScreen('_EnvScreen', {  })`, check also the docs about that

Last but not least, the chai error is not related to this module, it depends on the testrunner you use. Please check the docs of your testrunner for the ap

[2020-04-14 05:57] #61 closed

[2020-04-15 11:53] Westsaid opened #62 "saveScreen/checkScreen always scroll to the top"
**Environment (please complete the following information):**
 - Node.js version: [e.g. v13.10.1]
 - NPM version: [e.g. 6.14.2]
 - Browser name and version: [e.g. Chrome 80]
 - Platform name and version: [e.g. Windows 10]
 - Framework name and version: [e.g. WDIO V5]
 - webdriver-image-comparison version: [e.g. 1.12.2]

**Describe the bug**
Scrolling using $(...).scrollIntoView(), than using saveSc

[2020-04-18 07:17] wswebcreation commented on #62
@Westsaid

I've been checking this, but it works as expected. This is my script

[code]

This is the output

![examplePage-chrome-latest-1366x768](https://user-images.githubusercontent.com/11979740/79630867-3931f500-8155-11ea-9faa-17f7f2b80ddb.png)

It is not scrolling back to the top before or after the screenshot. This only happens automatically when you take a fullpage screenshot

Can you provi

[2020-04-18 07:39] wswebcreation commented on #57
@Christopher-Hayes

Going to fix this with a console warning like this

![image](https://user-images.githubusercontent.com/11979740/79631285-882d5980-8158-11ea-9464-01f4316c885c.png)

Will be released soon

[2020-04-18 07:40] wswebcreation commented on #52
Closing this issue because I believe it is fixed

[2020-04-18 07:40] #52 closed

[2020-04-18 08:14] wswebcreation commented on #57
@Christopher-Hayes

I've released version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.0. Can you please check it and if fixed close the issue?

[2020-04-20 06:00] Westsaid commented on #62
Hey,
sorry I was not giving proper information here.
I am running wdio programmatically, this is what maybe causes this failure, heres a reproducible example, just put this in a folder and "npm i webdriverio wdio-image-comparison-service" and it should work:

`const { remote } = require("webdriverio");
const WdioImageComparisonService = require('wdio-image-comparison-service').default;

let env =

[2020-04-20 06:29] Westsaid opened #64 "CSS breakpoint gets triggert when taking a screenshot"
**Environment (please complete the following information):**
- Node.js version: [v13.10.1]
- NPM version: [6.14.2]
- Browser name and version: [Chrome 80]
- Platform name and version: [Windows 10]
- Framework name and version: [WDIO V5]
- webdriver-image-comparison version: [1.12.2]

**Config of the automation framework + plugin**
Run programmatically.

**Describe the bug**
When taking a screensho

[2020-04-20 07:57] wswebcreation commented on #64
@Westsaid

I think this has to do with this default option, https://github.com/wswebcreation/webdriver-image-comparison/blob/master/docs/OPTIONS.md#hidescrollbars

Have you tried turning it off?

[2020-04-20 07:57] wswebcreation commented on #62
Will check this later

[2020-04-20 09:16] Westsaid commented on #64
@wswebcreation  yes, I also tested it with hidescrollbars set to false

[2020-04-22 06:12] seanuleh opened #65 "check* functions not compatible with newer iPad devices"
**Environment (please complete the following information):**
 - Node.js version: v13.13.0
 - NPM version: 6.14.4
 - Browser name and version: iPad 7th
 - Platform name and version: osVersion 13
 - Framework name and version: WDIO 6.0.13
 - Plugin name and version: wdio-image-comparison-service 1.13.0
 - webdriver-image-comparison version: 0.14.0

**Config of the automation framework + plugin**
Tes

[2020-04-22 11:57] wswebcreation commented on #65
Hi @seanuleh

Thanks for filing an issue, I need to look at my time when I can fix this, but if you already have time please do

[2020-04-22 12:00] wswebcreation opened #66 "Multiple element selector only hiding first match"
**Describe your question with as much detail as possible**

Hiding only one of the elements matching a selector when updating to puppeteer. It seems the removal/hidden elements is passed through all the way to the client script but I have been having trouble debugging where exactly it might break. My question is basically do I need to debug a visual Chrome execution to get access to the client scr

[2020-04-22 12:01] #66 closed

[2020-04-23 02:41] seanuleh commented on #65
Made a small change to the regex which parses the UA to support the new iPadOS User Agent strings. Added some superficial test case, could probably do with proper data for newer iPad devices, but unsure where to attain this information.

#67

[2020-04-25 06:02] wswebcreation commented on #62
Hi @Westsaid

I'm trying to reproduce this but I can't even get the script to work. Not even when I use the default example on WebdriverIO

[code]

Can you otherwise provide a reproducible example in a GitRepo?

Last thing that is on my mind is that the save/checkScreen doesn't have a scroll inside of it, so this might even be an issue with the standalone version of WebdriverIO

[2020-04-25 06:06] wswebcreation commented on #64
Hi @Westsaid

Like in issue https://github.com/wswebcreation/webdriver-image-comparison/issues/62, I can't seem to get the standalone version working, can you also provide a reproducible example in a github project for this one?

[2020-04-25 06:16] wswebcreation commented on #65
Thanks @seanuleh

I've merged it, will release it soon

[2020-04-25 09:31] Westsaid commented on #62
Hi,
I think you tried to run it using the normal testrunner. You have to run it programmatically, so just save my code in a js file and use "node FILENAME.js" in cmd. The Code initiates the instances of wdio & plugins on its own.

[2020-04-25 10:05] wswebcreation commented on #62
🤦 , will try it later today

[2020-04-25 15:59] wswebcreation commented on #20
Ok,

Been diving into this feature request and it's very complex, the V4-module `wdio-screenshot` module had a solution for it, there are some _downsides_ to the solution but here are my thoughts:

**Re-use solution from `wdio-screenshot`**
It's basically determining the element size, the screensize and then the diff between them, if the element is not in the viewport is will take a screenshot, cu

[2020-04-25 16:17] wswebcreation commented on #65
Hi @seanuleh

I've release a new version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.1, can you verify and close the issue if it's fixed, thanks for your support

[2020-04-26 07:25] wswebcreation commented on #62
@Westsaid

I've been checking this and it works.

![ASD_ASD_chrome_1200x1373_Test_Footer](https://user-images.githubusercontent.com/11979740/80300785-dae1c380-879f-11ea-87b8-87736fb24293.png)

There is only 1 diff. If you use this with the Devtools package than it will always scroll up automatically. I don't know if that is the case?

[2020-04-26 07:32] wswebcreation commented on #64
I also checked this one, and it works on my machine, see below

![ASD_ASD_chrome_1020x900_Test_Footer](https://user-images.githubusercontent.com/11979740/80300878-8c80f480-87a0-11ea-9bad-774fbb7aa191.png)

The diff might be the fact that Windows is behaving a little bit different here in comparison to Mac

[2020-04-26 23:42] seanuleh commented on #65
Looks like it's working now! thanks for the quick release.

[2020-04-26 23:42] #65 closed

[2020-04-29 06:52] Westsaid commented on #62
Hey, will check this and #64 on other devices by the end of the week and get back to you.

[2020-05-05 13:14] michael42 opened #69 "disableCSSAnimation breaks transform-Transformations"
**Config of the automation framework + plugin**
`{disableCSSAnimation: true}`

**Describe the bug**
Hi there, thanks for the project. We enabled `disableCSSAnimation`, so that we don't have to disable animations ourselves. Unfortunately, this caused our page to render incorrectly, so we had to disable it again.

**To Reproduce**
Steps to reproduce the behavior:
1. Assume a page that uses `transfor

[2020-05-06 06:12] wswebcreation commented on #69
Hi @michael42

Thanks for this issue, `transform` is also part of the animations, any idea how to do this better? Also care for a PR?

[2020-05-06 07:19] michael42 commented on #69
Simply removing the lines should work fine, as `transform` is just a static transform. Only `animation` or `transition` are actually doing the animation.

[2020-05-06 11:13] wswebcreation commented on #69
@michael42

Thanks for the PR, I've released a new version https://github.com/wswebcreation/wdio-image-comparison-service/releases/tag/v1.13.3

[2020-05-06 11:13] #69 closed

[2020-05-21 05:30] wswebcreation commented on #62
Hi @Westsaid

Any update on this? Otherwise I'll close it in a few days. Thanks

[2020-05-21 05:30] wswebcreation commented on #64
Hi @Westsaid

Any update on this? Otherwise I'll close it in a few days. Thanks

[2020-05-21 05:33] wswebcreation opened #71 "hideAfterFirstScroll giving error in typescript Spec"
Copy of https://github.com/wswebcreation/wdio-image-comparison-service/issues/43

======================================================================
Trying to use hideAfterFirstScroll in checkFullPageScreen method but it's giving error:
**TS2740: Type 'Element' is missing the following properties from type 'HTMLElement': accessKey, accessKeyLabel, autocapitalize, dir, and 230 more.**

`expect(

[2020-05-21 05:34] wswebcreation commented on #71
Because this is a generic module it will be a little bit harder to have specific module types in this module. Any help on this would be great

[2020-05-21 05:37] wswebcreation commented on #71
🤦 , nvm

[2020-05-21 05:37] #71 closed

[2020-05-25 10:18] Westsaid commented on #64
@wswebcreation
I will test this on a couple of devices this week, and come back to you. Thanks and have a great week!

[2020-05-25 10:18] Westsaid commented on #62
@wswebcreation
I will test this on a couple of devices this week, and come back to you. Thanks and have a great week!

[2020-05-27 12:24] Westsaid commented on #64
Hey,
I tested this on a couple of devices now. This bug is just happening on windows, our Mac system had the screenshot correct, just like yours...

[2020-05-27 12:44] Westsaid commented on #62
We couldn't get this one to work, neither on Windows or Mac... I made a repo with two test files: footer.js(for issue 62) & breakpoint.js (issue 64). Maybe clone and see if you also get a misbehavior. https://github.com/Westsaid/wdio-image-comp-issue-62-64-test

[2020-06-25 15:03] Westsaid opened #72 "How to prevent memory leaks when initializing mutliple browsers"
**Describe your question with as much detail as possible**
When having a loop which creates browsers and takes screenshots, after the session/iteration was closed, a chunk of memory is still being used and not garbage collected.

After the first iteration:
![image](https://user-images.githubusercontent.com/58175915/85744517-40512280-b705-11ea-9ca3-9a57351a81fd.png)
After 6 iterations
![image](http

[2020-06-27 04:45] wswebcreation commented on #72
Hi @Westsaid

This lib just uses the the provided libs by WebdriverIO to create screenshots. As far as I can see this is not a problem within this module but within, or the browser or WebdriverIO. Have you also checked the WDIO project? There's not a lot I can do here

[2020-06-29 08:34] Westsaid commented on #72
Hey @wswebcreation,

thanks for your answer!  I will take this over to the WDIO Github and report this as an issue there. Thanks for your help and the work!

[2020-08-20 07:20] KITSEPAMMaksymDusheiko commented on #20
**takeElementScreenshot** from W3C is not a solution  -

https://w3c.github.io/webdriver/#dfn-take-element-screenshot

[2020-09-11 03:05] #62 closed

[2020-09-11 03:05] #64 closed

[2020-09-28 05:07] #72 closed

[2021-03-05 16:10] AndrewLunko opened #78 "Disabling CSS animation doesn't block animations for pseudo elements"
**Environment (please complete the following information):**
 - webdriver-image-comparison version: 2.0.0

**Describe the bug**
Hi there! Thanks a lot for the package!
While using it for visual regression tests in our UI components library we've discovered that we have tests breaking for animated components in certain cases even though `disableCSSAnimation` option is set for true.
With a bit of di

[2021-03-05 16:19] wswebcreation commented on #78
Hi @AndrewLunko

Thanks for bringing this up. Can you submit a PR for the https://github.com/wswebcreation/webdriver-image-comparison module?

[2021-03-05 16:21] AndrewLunko commented on #78
Sure! Will happily contribute the fix.

[2021-03-05 16:24] wswebcreation commented on #78
Thanks!

[2021-03-06 07:58] wswebcreation commented on #78
I've released a new version with your fix, closing it for now

[2021-03-06 07:58] #78 closed

[2021-06-17 12:30] vmrgvn opened #92 "hideScrollbars doesn't work in mobile emulation"
Hi!

I'm trying to make and compare screenshots on the mobile version of my site, but I have noticed that scrollbars don't hide despite hideScrollbars parameter is set to true.

There is project example with result screenshot:
https://github.com/vmrgvn/image-comparison

Please, help me to find out the problem.
Thanks!

**Environment (please complete the following information):**
 - Node.js version

[2021-07-13 07:22] imolater commented on #92
Hi. I've also faced this problem. Capabilities: Moon, chrome last stable version with mobile emulation and dev.
<img width="605" alt="Снимок экрана 2021-07-13 в 10 16 28" src="https://user-images.githubusercontent.com/26197551/125409005-280d7d80-e3c4-11eb-9b31-e18e1d5fc839.png">

[2021-07-19 10:25] yunj commented on #92
Same here. Thanks.

[2021-09-09 13:54] MPSwift opened #96 "Tool bar and status bar not ignored on mobile android devices"
**Environment:**
 - Node.js version: v14.15.0
 - NPM version: 7.19.0
 - Browser name and version: Chrome
 - Platform name and version: Android 9
 - Framework name and version: webdriverio v7
 - webdriver-image-comparison version: 3.0.0

**Config of the automation framework + plugin**
Using Lambdatest https://www.lambdatest.com/ to use mobile devices and device capability is
{
                build

[2021-09-09 14:24] wswebcreation commented on #96
@MPSwift

Hmm, kinda strange, I'm getting this when I run it on a Samsung S10 in the Sauce Labs cloud. Can you share the instance from Lambda test so I can do some debugging?

![samsung-s10--412x869](https://user-images.githubusercontent.com/11979740/132703839-ba0969db-9ee1-4bba-b20c-c411163d7e33.png)

[2021-09-09 14:57] MPSwift commented on #96
Sorry, I cannot share the instance but maybe you can start a free trail here https://www.lambdatest.com/pricing?utm_source=GoogleAds&utm_medium=Sitelink&utm_campaign=Brand&utm_term=FreeTrial&gclid=Cj0KCQjw4eaJBhDMARIsANhrQACN3NYWhP6zgQ1THc9tlPjgaVUEStfckBOvx9x_vw0FUOPRRQxNddwaAhIaEALw_wcB

Is that ok for you?

[2021-09-28 13:36] ThilovGlan commented on #96
Is there any news on this or what information is still required?

[2021-11-05 05:54] staizen-alexm opened #98 "ansi-regex vulnerability report"
**Describe your question with as much detail as possible**
A clear and concise question that doesn't require too much conversation. Need more help? [Find me on Gitter](https://gitter.im/wswebcreation)

Not sure if this is something we can handle on this package but we're getting this vulnerability alert:
![image](https://user-images.githubusercontent.com/81152923/140464671-b0f5f4e8-e011-49d2-9cd2-

[2021-11-30 07:08] wswebcreation commented on #98
Thanks for reporting this, it should have been fixed now with the latest version

[2021-11-30 07:08] #98 closed

[2022-02-01 14:45] Searcher865 opened #101 "Can't take a screenshot with Appium (browser.checkElement is not a function)"
- Node.js version: 15.0.0
 - NPM version: 7.0.2
 - Browser name and version: Chrome83
 - Platform name and version: Windows 10
 - WebdriverIO version: 7.16.14
 - wdio-image-comparison-service version: 3.1.0
- Appium 2.0.0-beta.25 ( 1.22.2)
- TS version:  10.4.0
**Config of WebdriverIO + wdio-image-comparison-service**
[code]

**Describe the bug**
1) after launch, Chrome opens on Pixel 3 (Android S

[2022-02-02 00:04] Searcher865 commented on #101
@wswebcreation
1. I'm sorry, maybe I still don't understand how it works so well since I'm just starting my way with Appium. I understand that this question is not related to webdriver-image-comparison. I tried writing different capabilities ("browserName": "Chrome", "browserName": "chrome", browserName: Chrome). I've also tried not writing browserName at all, but my Appium test only runs with "ap

[2022-02-06 16:52] wswebcreation commented on #101
See https://github.com/webdriverio/webdriverio/issues/7974#issuecomment-1030870647, closing this one

[2022-02-06 16:52] #101 closed

[2022-04-26 10:32] jesusfj710 opened #103 "The percentage difference is rounded and passes the tests"
**Environment (please complete the following information):**
 - Node.js version: v16.14.0
 - NPM version: 8.3.1
 - Browser name and version: Chrome 100
 - Platform name and version: MacOS 12.3.1, `4.14.243-185.433.amzn2.x86_64` and `4.14.219-164.354.amzn2.x86_64`
 - Framework name and version: WebdriverIO 2.32.3
 - Plugin name and version: serenity-js/webdriverio 2.32.3
 - webdriver-image-comparis

[2022-04-26 10:35] jesusfj710 commented on #103
I can provide more info if needed, but I think it's pretty clear that the error is that it is making an assertion that if the percentage of mistmach is 0, it passes the test. This is not correct, as you are rounding the number, and should take the primitive value.

[2022-04-26 11:42] jesusfj710 commented on #103
Another possible option would be to see to what digit you want to round to, because you may be interested in thousandths but no more than 3 decimal places.

[2022-05-01 01:12] #92 closed

[2022-05-01 01:12] #96 closed

[2022-05-04 09:33] lacell75 opened #104 "Not working with WinAppDriver because browser.execute is not implemented"
**Environment:**
 - Node.js version: 16.15.0
 - NPM version: 8.5.5
 - Browser name and version: ApplicationName
 - Platform name and version: Windows
 - Framework name and version: Webdriver.IO  7.16.4
 - Plugin name and version: [e.g. protractor-image-comparison 3.0.0]
 - wdio-image-comparison-service: 3.1.1

**Config of the automation framework + plugin**
[code]

**Describe the bug**
Unable to u

[2022-05-07 11:50] wswebcreation commented on #104
Hi @lacell75

thanks for this issue, but this module relies on a webcontext to do all the magic and doesn't support the WinAppDriver.
Going to close it for that reasons

[2022-05-07 11:50] #104 closed

[2022-05-07 12:09] wswebcreation commented on #103
Hi @jesusfj710

thanks for this issue and totally agree. In also feel for this

But that would be a breaking change and thus a major release

We can also go for

But that would only pollute the logs and the question would be if people would always read the logs.

My suggestion would be to go for option one, mark it as a breaking change and I will release a new major. Do you mind creating a PR and

[2022-05-13 20:16] jesusfj710 commented on #103
Hello @wswebcreation

Thank you for your answer. I will try to think about how to approach the PR and see if I am able to do it and in case I am not able to do it. In case I am not capable I will try to provide as much feedback or testing as I can.

[2022-05-22 06:28] wswebcreation commented on #103
Closing this and we will proceed the conversation in the PR

[2022-05-22 06:28] #103 closed

[2022-07-20 15:57] wswebcreation opened #107 "Full Page scrolling doesn't work out of the box for all websites"
The project now used [this method](https://github.com/wswebcreation/webdriver-image-comparison/blob/main/lib/clientSideScripts/scrollToPosition.ts) to automatically scroll.

This is now being done mostly on the HTML element, but there are sites that only scroll on the body element. We need to make the above mentioned method smarter.
Here are two websites to use for testing
- scroll on body: https:

[2022-07-24 08:58] wswebcreation opened #108 "clearRuntimeFolder clears for every driver"
**Environment (please complete the following information):**
 _doesn't matter_

**Config of the automation framework + plugin**
[code]

**Describe the bug**
When `clearRuntimeFolder: true` is clears for every instance meaning all folders will be removed during initialisation for each instance. This will lead to folders not holds images of all instances

**To Reproduce**
See logs below

**Expected

[2022-07-24 09:09] wswebcreation opened #109 "Throw proper error when element height/width is 0"
**Environment (please complete the following information):**
for all

**Config of the automation framework + plugin**
not needed

**Describe the bug**
Fix https://github.com/wswebcreation/wdio-image-comparison-service/issues/90

**To Reproduce**
See linked issue

**Expected behavior**
Throw an error with a proper message about 0 height/width

[2022-07-24 11:17] wswebcreation commented on #107
Closing this one, will be fixed by https://github.com/wswebcreation/webdriver-image-comparison/pull/110

[2022-07-24 11:17] #107 closed

[2022-07-24 20:28] wswebcreation commented on #109
Will be fixed by https://github.com/wswebcreation/webdriver-image-comparison/pull/110

[2022-07-24 20:28] #109 closed

[2022-07-24 20:31] #57 closed

[2022-08-01 18:41] wswebcreation commented on #44
This is fixed with this PR https://github.com/wswebcreation/wdio-image-comparison-service/pull/93

[2022-08-01 18:41] #44 closed

[2022-08-05 16:49] petersenrr opened #113 "In Typescript browser.imageComparison is undefined"
I have a repo that is in typescript and I am trying to use this image comparison but I get the error
```TypeError: Cannot read property 'checkScreen' of undefined```

here is the code that I thought would work that is causing the error

    expect(await browser.imageComparison.checkScreen('fullpage', {ignoreColors: true, ignoreAntialiasing: true})).to.be.below(.05);
    let visualPercentage = awai

[2022-08-05 17:49] wswebcreation commented on #113
Normally this happens because one of the following reasons

1. you didn’t add the typescript definition, see https://github.com/wswebcreation/wdio-image-comparison-service#typescript-support
2. You didn’t include the service (correctly).

Can you check them both and if that’s not the case then can you please provide you complete config files?

[2022-08-05 18:10] petersenrr commented on #113
Here are my config files

tsconfig.json

{
    "compilerOptions": {
      "target": "esnext",
      "module" : "CommonJS",
      "esModuleInterop": true,
      "moduleResolution": "node",
      "types": [
        "node",
        "webdriverio/sync",
        "@wdio/mocha-framework",
         "expect-webdriverio",
         "wdio-image-comparison-service"
      ]
    },
    "include": [
      "./test/

[2022-08-05 19:03] wswebcreation commented on #113
You added the wdio-image-comparison-service in the plugins, it needs to be in the services

[2022-08-05 19:03] #113 closed

[2022-08-08 20:03] petersenrr commented on #113
it is still not working, i am not sure what i am doing wrong

I am getting this error

[code]

Here is my config.json

[code]

Here is my Test

[code]

[2022-09-17 06:14] wswebcreation opened #114 "New iPhone 14 and iOS 16 came out"
The new iPhone 14/Pro/Pro max, together with iOs 16 came out. We need to add the following dimensions
- iPhone 14: 390x844 => same as `12|12Pro|13|13Pro`
- iPhone 14 Plus: 428x926 => same as `12ProMax|13ProMax`
- iPhone 14 Pro: 393x852 => **NEW**
- iPhone 14 Pro Max: 430x932 => **NEW**

to this file https://github.com/wswebcreation/webdriver-image-comparison/blob/main/lib/helpers/constants.ts

and

[2022-09-18 07:28] wswebcreation opened #115 "DevTools support seems broken"
**Environment (please complete the following information):**
 - Node.js version: 14
 - NPM version: 6
 - Browser name and version: Chrome DevTools
 - Platform name and version: -
 - Framework name and version: WDIO
 - Plugin name and version: wdio-image-comparison-service
 - webdriver-image-comparison version: 0.22

**Describe the bug**
It seems that the devtools support is broken now due to chang

[2022-09-20 00:25] mhdSid opened #116 "Make image comparison function support Node 18"
**Is your feature request related to a problem? Please describe.**
"resemblejs" has a dependency on "canvas" library which doesn't support NodeJs v.18, therefore, I would like to request that "webdriver-image-comparison" to support NodeJs v.18

**Describe the solution you'd like**
Use [pixelmatch](https://github.com/mapbox/pixelmatch)

**Describe alternatives you've considered**
Create pre-builds

[2022-09-29 02:44] mhdSid commented on #22
Could it just use browser.screenshot({...}) instead? without having a custom method to take screenshots?

[2022-10-05 17:26] dpoetzsch commented on #20
I was running into this problem as well because our test suite heavily uses element comparison for visual regression testing. Just taking the whole screen is not an easy option because this make the screens even more fragile.

As we also ran into other problems (mainly #115) we ported `wdio-screenshot` to wdio v7: https://www.npmjs.com/package/wdio-screenshot-v7. Then, we migrated back to https://

[2022-10-10 14:20] wswebcreation commented on #116
Hi @mhdSid

Tnx for this issue. I'll release a new version soon with support for Nodejs 18.

For now I want to stick to canvas because it's a bit more flexible but I do like the alternatives. Something to investigate, thanks!

[2022-10-10 14:20] #116 closed

[2022-10-10 14:21] #114 closed, assigned to nobody

[2022-11-25 06:50] smichaelsen opened #127 "Indicate when baseline image was missing/created"
When the CI runs our visual tests then I assume that we have baseline images for all of our cases. However images can be forgotten to be pushed, accidentally deleted, screen resolution changes and with it the file name, etc.

In all these cases our tests will pass, because the check function silently creates the baseline image and returns a result with misMatchPercentage: 0. It would be great if t

[2022-11-25 07:10] wswebcreation commented on #127
Hi @smichaelsen

Thanks for your ticket, I'm assuming you added `autoSaveBaseline: true` in your config when you start your CI. This is not something what I would suggest, but feel free to submit a PR, then please change the result to `baselineImageCreated: boolean`